---
# r_version should be a string like  R-x.y.z  (example:  R-3.1.0), or one of the following:
# R-devel R-alpha R-beta R-patched R-rc 
r_version: R-3.1.0
# use_devel should be TRUE or FALSE
use_devel: FALSE